html {
  font-size: 10px;
  background: url(./img/ocean_bg.jpg) bottom center;
  background-size: cover;
  height: 100%;
  width: auto;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
